<ul class="invoice-create">
  <a href="#" id="open_invoice">
    <%= render "invoices/counter", counter: invoices.count if invoices %>
  </a>
  <div id="invoiceContainer" style="display: none;">
    <div id="invoicesBody" class="invoices">
      <ul id="invoiceList">
        <%= render invoices if invoices %>
      </ul>
    </div>
    <div id="invoiceFooter"></div>
  </div>
</ul>